body{
    display: flex;
    justify-content: center;
    /* background: linear-gradient(#e66465, #9198e5); */
    height: 100vh;
}

.out{
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    background: rgb(31, 6, 6);
    backdrop-filter: blur(10px);
    /* height: 20em; */
    padding: 1em;
    border-radius: 10px;
}

.type{
    display: flex;
    /* margin-bottom: 1em; */
}

#myUL{
    margin-top: 1em;
}